NODE_ENV = 'DEVELOPMENT'

DATABASE_URL =
PORT = 8080
POSTGRES_DB = 'rfp_system'
POSTGRES_USER = 'rfp_db_user'
POSTGRES_PASSWORD = 'rfp@dbpass'
REDIS_URL =''
REDIS_HOST =127.0.0.1
REDIS_PORT =6379
REDIS_PASSWORD =
REDIS_DB =0